services:
  mysql:
    image: mysql:8.3
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: bl41b3ll
      MYSQL_DATABASE: autofx
      MYSQL_USER: autofx
      MYSQL_PASSWORD: s4t1ns3n
      TZ: "Asia/Tokyo"
    volumes:
      - ./ddl:/docker-entrypoint-initdb.d
      - ./seed:/docker-entrypoint-initdb.d
      - db-store:/var/lib/mysql
  redis:
    image: redis:6.2.11
    ports:
      - "16379:6379"

volumes:
  db-store: